﻿@model SportsStore.Domain.cs.Entities.Product

<div class="item">
    <h3>@Model.Name</h3>
    @Model.Description
    @using(Html.BeginForm("Add to Cart", "Cart"))
    {
        @Html.HiddenFor(x => x.ProductID)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" value="+Add to Cart" /> 
    }
    <h4>@Model.Price.ToString("c")</h4>
</div>



