﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    font-family: Cambria, Georgia, 'Times New Roman';
    margin: 0;
}

div#header div.title, div.item h3, div.item h4, div.pager A {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", "Arial";
}
div#header {
    background-color: #444;
    border-bottom: 2px solid #111;
    color: white;
}
div#header div.title {
    font-size: 2em;
    padding: .6em;
}
div#content {
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}
div#categories {
    float: left;
    width: 8em;
    padding: .3em;
}

div.item {
    border-top: 1px dotted gray;
    padding: .7em;
    margin-bottom: .7em;
}
div.item:first-child {
    border-top: none;
    padding-top: 0;
}
div.item h3 {
    font-size: 1.3em;
    margin: 0 0 .25em 0;
}
div.item h4 {
    font-size: 1.1em;
    margin: .4em 0 0 0;
}

div.pager {
    text-align: right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 1em;
}
div.pager A {
    font-size: 1.1em;
    color:#666;
    text-decoration: none;
    padding: 0 .4em 0 .4em;
}
div.pager a:hover {
        background-color: silver;
}
div.pager a.selected {
    background-color: #353535;
    color: white;
}

div#categories a {
    font: bold 1.1em "Arial Narrow", "Franklin Gothic Medium", Arial;
    display: block;
    text-decoration: none;
    padding: .6em;
    color: black;
    border-bottom: 1px solid silver;
}
div#categories a.selected {
    background-color: #666;
    color: white;
}
div#categories a:hover {
    background-color: #ccc;
}
div#categories a.selected:hover {
    background-color: #666;
}

FORM {
    margin: 0; 
    padding: 0;
}
div.item form {
    float: right;
}
div.item input {
    color: white;
    background-color: #333;
    border: 1px solid black;
    cursor: pointer;
}
















