﻿.field-validation-error     {color: #f00;}
.field-validation-valid     {display: none;}
.input-validation-error     {border: 1px solid #f00; background-color: #f00;}
.validation-summary-errors  {font-weight: bold; color: #fee;}
.validation-summary-valid   {display: none;}